<div class="w-100 mb-3">
  <p-inputGroup>
    <p-inputGroupAddon>
      <p-inputIcon styleClass="pi {{icon}}" />
    </p-inputGroupAddon>
    <p-inputMask 
      *ngIf="mask"
      [mask]="mask" 
      [formControl]="control" 
      [placeholder]="placeholder" 
      />
      <input 
      *ngIf="!mask"
      [placeholder]="placeholder" 
      [formControl]="control" 
      [type]="type" pInputText placeholder="Price" /> 

  </p-inputGroup>
  <small *ngIf="isInvalid()" class="text-danger">{{messageError}}</small>
</div>
