.menu{
    max-width: 250px;
    height: 100%;
    &-item{
      
        border: 1px solid #cacaca;
        border-radius: 0px 5px 5px 0px;
        box-shadow: 2px 2px 3px #e3e3e3;
        padding: 0.5em;
        margin: 0.5em 0;
        cursor: pointer;
        i{
            margin-right: 10px;
        }
    }
    &-item:hover{
        background-color:#275299;
        color: white;
    }
}