<div class="align-self-center container d-flex h-100 justify-content-center ">
<p-card class="form-singup"
  header="Cadastro de Usuário"
  subheader="Preencha os campos abaixo para criar sua conta"
  [style]="{ width: '360px' }"
>
  <ng-template pTemplate="header">
    <img
      alt="Card"
      src="https://freepics.ai/files/preview/1280x853/121704305952jppwv1lleqnolwnbnogb60nnvjftlmb0mmfkxqcw8rawp3s4axt0qotcix5olu0mkxowuuou4mpdoth7okapyhrs9buxl1oxxeir.jpeg"
    />
  </ng-template>

  <input-field
   label="Nome Completo"
   icon="pi-user"
   [control]="control('name')"
   messageError="Campo obrigatorio"
  ></input-field>
  
  <input-field
   label="CPF / CNPJ"
   icon="pi-id-card"
   [control]="control('document')"
   messageError="Campo Obrigatório"
  ></input-field>

  <input-field
   label="Email"
   icon="pi-user"
   [control]="control('email')"
   messageError="Email inválido"
  ></input-field>

  <input-field
  type="password"
  label="Senha"
  icon="pi-lock"
  [control]="control('password')"
  messageError="Campo obrigatorio"
 ></input-field>
  
 <ng-template pTemplate="footer">
  <div class="flex gap-3 mt-1 w-full">
    <p-button label="Cadastrar" [disabled]="form.invalid" (click)="createUser()"/>
  </div>
</ng-template>
</p-card>
</div>
