<div class="align-self-center container d-flex h-100 justify-content-center ">
  <p-card
  header="Bem Vindo ao Maxtruck!"
  subheader="Acesse sua conta"
  [style]="{ width: '360px' }"
>
  <ng-template pTemplate="header">
    <img
      alt="Card"
      src="https://freepics.ai/files/preview/1280x853/121704305952jppwv1lleqnolwnbnogb60nnvjftlmb0mmfkxqcw8rawp3s4axt0qotcix5olu0mkxowuuou4mpdoth7okapyhrs9buxl1oxxeir.jpeg"
    />
  </ng-template>
  <input-field
   label=""
   icon="pi-user"
   [control]="control('email')"
   messageError="Email invalido"
  ></input-field>

  <input-field
  type="password"
  label=""
  icon="pi-lock"
  [control]="control('password')"
  messageError="Campo obrigatorio"
 ></input-field>
  
  <ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1">
      
      <p-button label="Cadastre-se" (click)="navigatgeSigUp()" [link]="true" class="w-full" styleClass="w-full " />
      <p-button label="Entrar" [disabled]="form.invalid" (click)="login()" class="w-full" styleClass="w-full float-end" />
    </div>
  </ng-template>
</p-card>
  
</div>

<p-toast />
