<p-dialog header="Edit Profile" [modal]="true" (onHide)="close.emit()" [(visible)]="visible" [style]="{ width: 'auto' }">
  <div class="d-flex justify-content-between flex-wrap">
      <label-item title="Modelo" [label]="data.model"></label-item>
      <label-item title="Marca" [label]="data.brand"></label-item>
      <label-item title="Comprimento" [label]="data.lenght"></label-item>
      <label-item title="Altura" [label]="data.height"></label-item>
      <label-item title="Peso Bruto" [label]="data.weight"></label-item>
      <label-item title="Placa" [label]="data.licensePlate"></label-item>
      <label-item title="Capacidade de carga" [label]="data.loadCapacity"></label-item>
      <label-item title="Descrição" [label]="data.description"></label-item>
  </div>
  <p-table [value]="data.criticalBridges" [tableStyle]="{ 'background': 'none' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Ponte Crítica</th>
            <th>Altura máxima permitida na via central</th>
            <th>Altura máxima via Expressa (m)</th>
            <th>Altura máxima permita via Local (m)</th>
            <th>Altura máxima permita via Única (m)</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-bridges>
        <tr>
          <td >
           {{bridges.name}}
          </td>
            <td>
              <i class="pi pi-truck ml-1"></i>
              {{ bridges.maxHeightCentral }}
            </td>
            <td>
              <i class="pi pi-info-circle ml-1"></i>
              {{ bridges.maxHeightExpressway }}
            </td>
            <td>
              <i class="pi pi-hashtag ml-1"></i>
              {{ bridges.maxHeightLocalRoad}}
            </td>
            <td>
              <i class="pi pi-barcode ml-1"></i>
              {{ bridges.maxHeightSingleRoad }}
            </td>
            <td>
              <i class="pi pi-gauge ml-1"></i>
              {{ bridges.address }}
            </td>
           
        </tr>
    </ng-template>
</p-table>
</p-dialog>