
<p-card
  header="Advanced Card"
  subheader="Card Subheader"
  class="w-100"
>
  <div class="grid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <input-field
          label="Modelo do caminhão"
          [control]="control('model')"
          messageError="Campo obrigatorio"
        ></input-field>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <input-field
          label="Marca do caminhão"
          [control]="control('brand')"
          messageError="Campo obrigatorio"
        ></input-field>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <input-field
          label="Comprimento do caminhão (em metros)"
          [control]="control('length')"
          messageError="Campo obrigatorio"
        ></input-field>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <input-field
          label="Largura do caminhão (em metros)"
          [control]="control('width')"
          messageError="Campo obrigatorio"
        ></input-field>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <input-field
          label="Largura do caminhão (em metros)"
          [control]="control('height')"
          messageError="Campo obrigatorio"
        ></input-field>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <input-field
          label="Placa do caminhão"
          [control]="control('licensePlate')"
          messageError="Campo obrigatorio"
        ></input-field>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <input-field
          label=" Capacidade de carga (em toneladas)"
          [control]="control('loadCapacity')"
          messageError="Campo obrigatorio"
        ></input-field>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1 w-full">
      <p-button label="Cadastrar" [disabled]="form.invalid" (click)="createTruck()"/>
    </div>
  </ng-template>
</p-card>
